# Análisis Exploratorio de Datos (EDA)
## Covid-19 en Estados Unidos

### Descripción del proyecto
Este proyecto realiza un análisis exploratorio de datos sobre la evolución
del Covid-19 en Estados Unidos. El objetivo es limpiar, explorar y analizar
los datos para obtener conclusiones claras y comprensibles que permitan
interpretar el comportamiento de la pandemia a lo largo del tiempo.

### Objetivos
- Comprender la estructura y calidad del dataset
- Realizar la limpieza y el preprocesado de los datos
- Analizar la evolución temporal de los casos y fallecimientos
- Generar visualizaciones que ayuden a comunicar los resultados obtenidos

Importamos pandas y cargamos el dataset

In [108]:
import pandas as pd

df = pd.read_csv("../data/all-states-history.csv")

Se visualizan las primeras filas del dataset para comprender su estructura y las variables disponibles.

In [109]:
df.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0
1,2021-03-07,AL,10148.0,7963.0,-1,2185.0,45976.0,45976.0,494.0,0,...,2323788.0,2347,NaN,NaN,119757.0,NaN,2323788.0,2347,NaN,0
2,2021-03-07,AR,5319.0,4308.0,22,1011.0,14926.0,14926.0,335.0,11,...,2736442.0,3380,NaN,NaN,NaN,481311.0,NaN,0,2736442.0,3380
3,2021-03-07,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-03-07,AZ,16328.0,14403.0,5,1925.0,57907.0,57907.0,963.0,44,...,7908105.0,45110,580569.0,NaN,444089.0,NaN,3842945.0,14856,7908105.0,45110

Se analiza el tamaño del dataset cuantas filas tiene y cuantas columnas

In [110]:
df.shape

(20780, 41)

Esta inspección permite identificar tipos de datos y posibles valores nulos.

In [111]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 20780 entries, 0 to 20779
Data columns (total 41 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              20780 non-null  str
 1   state                             20780 non-null  str
 2   death                             19930 non-null  float64
 3   deathConfirmed                    9422 non-null   float64
 4   deathIncrease                     20780 non-null  int64
 5   deathProbable                     7593 non-null   float64
 6   hospitalized                      12382 non-null  float64
 7   hospitalizedCumulative            12382 non-null  float64
 8   hospitalizedCurrently             17339 non-null  float64
 9   hospitalizedIncrease              20780 non-null  int64
 10  inIcuCumulative                   3789 non-null   float64
 11  inIcuCurrently                    11636 non-null  float64
 12  negative                          13290 non-null  float64
 13  negativeIncrease                  20780 non-null  int64
 14  negativeTestsAntibody             1458 non-null   float64
 15  negativeTestsPeopleAntibody       972 non-null    float64
 16  negativeTestsViral                5024 non-null   float64
 17  onVentilatorCumulative            1290 non-null   float64
 18  onVentilatorCurrently             9126 non-null   float64
 19  positive                          20592 non-null  float64
 20  positiveCasesViral                14246 non-null  float64
 21  positiveIncrease                  20780 non-null  int64
 22  positiveScore                     20780 non-null  int64
 23  positiveTestsAntibody             3346 non-null   float64
 24  positiveTestsAntigen              2233 non-null   float64
 25  positiveTestsPeopleAntibody       1094 non-null   float64
 26  positiveTestsPeopleAntigen        633 non-null    float64
 27  positiveTestsViral                8958 non-null   float64
 28  recovered                         12003 non-null  float64
 29  totalTestEncountersViral          5231 non-null   float64
 30  totalTestEncountersViralIncrease  20780 non-null  int64
 31  totalTestResults                  20614 non-null  float64
 32  totalTestResultsIncrease          20780 non-null  int64
 33  totalTestsAntibody                4789 non-null   float64
 34  totalTestsAntigen                 3421 non-null   float64
 35  totalTestsPeopleAntibody          2200 non-null   float64
 36  totalTestsPeopleAntigen           999 non-null    float64
 37  totalTestsPeopleViral             9197 non-null   float64
 38  totalTestsPeopleViralIncrease     20780 non-null  int64
 39  totalTestsViral                   14516 non-null  float64
 40  totalTestsViralIncrease           20780 non-null  int64
dtypes: float64(30), int64(9), str(2)
memory usage: 6.5 MB

Resume las columnas númericas

In [112]:
df.describe()

,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
count,19930.000000,9422.000000,20780.000000,7593.000000,12382.000000,12382.000000,17339.000000,20780.000000,3789.000000,11636.000000,...,2.061400e+04,20780.000000,4.789000e+03,3.421000e+03,2200.000000,999.000000,9.197000e+03,2.078000e+04,1.451600e+04,2.078000e+04
mean,3682.216859,3770.182764,24.790712,417.291321,9262.762478,9262.762478,1190.576965,37.360780,1934.191607,359.621176,...,2.186936e+06,17508.388210,1.634028e+05,3.089196e+05,165431.783182,168188.246246,9.650105e+05,2.739554e+03,2.304555e+06,1.296143e+04
std,6281.366321,4157.640633,60.162742,537.625982,12620.544081,12620.544081,2060.041207,208.237151,1953.329983,594.831150,...,4.436508e+06,33586.022461,2.016978e+05,4.232854e+05,178181.836898,143748.073365,1.415215e+06,1.621900e+04,4.445365e+06,3.749509e+04
min,0.000000,0.000000,-201.000000,0.000000,1.000000,1.000000,0.000000,-12257.000000,6.000000,0.000000,...,0.000000e+00,-130545.000000,0.000000e+00,1.000000e+00,1.000000,3.000000,0.000000e+00,-1.043744e+06,0.000000e+00,-1.154583e+06
25%,161.250000,607.000000,0.000000,79.000000,985.250000,985.250000,166.500000,0.000000,501.000000,60.000000,...,1.040498e+05,1205.750000,1.896500e+04,2.004700e+04,54912.750000,37675.500000,1.414700e+05,0.000000e+00,1.324600e+05,0.000000e+00
50%,1108.000000,2409.500000,6.000000,216.000000,4472.000000,4472.000000,531.000000,0.000000,1295.000000,172.000000,...,6.552670e+05,6125.000000,8.465200e+04,1.233840e+05,103967.500000,144130.000000,4.193720e+05,0.000000e+00,7.316510e+05,1.896500e+03
75%,4387.500000,5462.000000,24.000000,460.000000,12248.500000,12248.500000,1279.000000,36.000000,2451.000000,380.000000,...,2.264766e+06,19086.500000,2.300110e+05,4.327270e+05,183103.000000,255251.000000,1.229298e+06,2.478000e+03,2.496925e+06,1.244100e+04
max,54124.000000,21177.000000,2559.000000,2594.000000,82237.000000,82237.000000,22851.000000,16373.000000,9263.000000,5225.000000,...,4.964601e+07,473076.000000,1.054711e+06,2.664340e+06,995580.000000,580372.000000,1.124825e+07,8.208170e+05,4.964601e+07,2.164543e+06

Esto ayuda a saber que variables hay y elegir cual vamos analizar

In [113]:
df.columns

Index(['date', 'state', 'death', 'deathConfirmed', 'deathIncrease',
       'deathProbable', 'hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'negative', 'negativeIncrease',
       'negativeTestsAntibody', 'negativeTestsPeopleAntibody',
       'negativeTestsViral', 'onVentilatorCumulative', 'onVentilatorCurrently',
       'positive', 'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='str')

Miramos que tipo de dato es date aunque ya sabemos que es string tenemos que convertir a número.

In [114]:
df['date'].dtype

La columna `date`, que inicialmente estaba almacenada como texto,
se convierte al tipo datetime para permitir un análisis temporal correcto.
Aqui decimos que interprete la columna date con fechas reales

In [115]:
df['date'] = pd.to_datetime(df['date'])

Se valida que la conversión de la columna `date` se ha realizado correctamente.

In [116]:
df['date'].dtype

dtype('<M8[us]')

Se ordenan los registros cronológicamente en función de la columna `date`
para garantizar la coherencia del análisis temporal.

In [117]:
df = df.sort_values('date')

Se verifican las primeras filas del dataset para confirmar que la
ordenación se ha realizado correctamente.

In [118]:
df.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
20779,2020-01-13,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20778,2020-01-14,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20777,2020-01-15,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20776,2020-01-16,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0
20775,2020-01-17,WA,NaN,NaN,0,NaN,NaN,NaN,NaN,0,...,NaN,0,NaN,NaN,NaN,NaN,NaN,0,NaN,0

Se verifican las últimas filas del dataset para confirmar que la
ordenación se ha realizado correctamente.

In [119]:
df.tail()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
32,2021-03-07,NE,2113.0,NaN,0,NaN,6237.0,6237.0,137.0,8,...,2421684.0,1,NaN,NaN,NaN,NaN,974759.0,978,2421684.0,1
31,2021-03-07,ND,1478.0,NaN,0,NaN,3880.0,3880.0,23.0,2,...,1425146.0,679,NaN,156698.0,NaN,NaN,406303.0,-75,1536487.0,881
30,2021-03-07,NC,11502.0,10169.0,0,1333.0,NaN,NaN,1179.0,0,...,9688838.0,0,NaN,805924.0,NaN,NaN,NaN,0,9688838.0,0
28,2021-03-07,MS,6808.0,4737.0,3,2071.0,9162.0,9162.0,419.0,0,...,1756955.0,260,81986.0,748339.0,NaN,NaN,NaN,0,1642348.0,0
0,2021-03-07,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0

Se revisan nuevamente los nombres de las columnas con el objetivo de
seleccionar las variables relevantes para el análisis.

In [120]:
df.columns

Index(['date', 'state', 'death', 'deathConfirmed', 'deathIncrease',
       'deathProbable', 'hospitalized', 'hospitalizedCumulative',
       'hospitalizedCurrently', 'hospitalizedIncrease', 'inIcuCumulative',
       'inIcuCurrently', 'negative', 'negativeIncrease',
       'negativeTestsAntibody', 'negativeTestsPeopleAntibody',
       'negativeTestsViral', 'onVentilatorCumulative', 'onVentilatorCurrently',
       'positive', 'positiveCasesViral', 'positiveIncrease', 'positiveScore',
       'positiveTestsAntibody', 'positiveTestsAntigen',
       'positiveTestsPeopleAntibody', 'positiveTestsPeopleAntigen',
       'positiveTestsViral', 'recovered', 'totalTestEncountersViral',
       'totalTestEncountersViralIncrease', 'totalTestResults',
       'totalTestResultsIncrease', 'totalTestsAntibody', 'totalTestsAntigen',
       'totalTestsPeopleAntibody', 'totalTestsPeopleAntigen',
       'totalTestsPeopleViral', 'totalTestsPeopleViralIncrease',
       'totalTestsViral', 'totalTestsViralIncrease'],
      dtype='str')

Se seleccionan las variables principales relacionadas con la evolución
de los casos, fallecimientos y hospitalizaciones por Covid-19.

In [121]:
cols = [
    'date',
    'state',
    'positive',
    'positiveIncrease',
    'death',
    'deathIncrease',
    'hospitalizedCurrently'
]

df_analysis = df[cols]

Se analiza la presencia de valores nulos en cada columna del dataset seleccionado 
con el objetivo de evaluar la calidad de los datos antes de su tratamiento.

In [122]:
df_analysis.isnull().sum()

date                        0
state                       0
positive                  188
positiveIncrease            0
death                     850
deathIncrease               0
hospitalizedCurrently    3441
dtype: int64

Se identifican valores nulos en las variables relacionadas con casos positivos,
fallecimientos y hospitalizaciones. Dado el carácter histórico del dataset,
estos valores se interpretan como ausencia de reporte en determinadas fechas,
por lo que se procede a reemplazarlos por cero para evitar inconsistencias en
los análisis posteriores.

In [123]:
df_analysis[['positive', 'death', 'hospitalizedCurrently']] = df_analysis[['positive', 'death', 'hospitalizedCurrently']].fillna(0)

Verificamos que todas las columnas ya no tengan valores nulos

In [124]:
df_analysis.isnull().sum()

date                     0
state                    0
positive                 0
positiveIncrease         0
death                    0
deathIncrease            0
hospitalizedCurrently    0
dtype: int64

Se crean variables temporales (año y mes) a partir de la fecha con el objetivo
de facilitar el análisis temporal y la construcción de visualizaciones que
permitan identificar tendencias a lo largo del tiempo.

Creamos una nueva columna `year` usando el año que hay dentro de la columna `date`

In [125]:
df['year'] = df['date'].dt.year

Creamos una nueva columna `month` usando el mes que hay dentro de la columna `date`

In [126]:
df['month'] = df['date'].dt.month

Se visualizan las columnas `date`, `year` y `month` para verificar que
las variables temporales se han generado correctamente.

In [127]:
df[['date', 'year', 'month']].head()

            date  year  month
20779 2020-01-13  2020      1
20778 2020-01-14  2020      1
20777 2020-01-15  2020      1
20776 2020-01-16  2020      1
20775 2020-01-17  2020      1

Se visualizan las primeras filas del dataset de análisis para comprobar
que la selección de variables y la limpieza de datos se han realizado correctamente.

In [129]:
df_analysis.head(10)

,date,state,positive,positiveIncrease,death,deathIncrease,hospitalizedCurrently
20779,2020-01-13,WA,0.0,0,0.0,0,0.0
20778,2020-01-14,WA,0.0,0,0.0,0,0.0
20777,2020-01-15,WA,0.0,0,0.0,0,0.0
20776,2020-01-16,WA,0.0,0,0.0,0,0.0
20775,2020-01-17,WA,0.0,0,0.0,0,0.0
20774,2020-01-18,WA,0.0,0,0.0,0,0.0
20773,2020-01-19,WA,1.0,1,0.0,0,0.0
20772,2020-01-20,WA,1.0,0,0.0,0,0.0
20771,2020-01-21,WA,2.0,1,0.0,0,0.0
20770,2020-01-22,WA,2.0,0,0.0,0,0.0